mixin menu(data)
  nav.menu
    .menu__mobile
    .menu__list
      a(href="#" title="").menu__item._active Букмекеры
      a(href="#" title="").menu__item Матчи
      a(href="#" title="").menu__item Школа ставок
      a(href="#" title="").menu__item Отзывы
      a(href="#" title="").menu__item Бонусы
