extend ./layout

include ../components/breadcrumbs/breadcrumbs
include ../components/news-list/news-list
include ../components/bonus-top/bonus-top
include ../components/bonus-list/bonus-list
include ../components/bookmakers-sidebar/bookmakers-sidebar

block content
  .sided
    .sided__left
      +breadcrumbs
      h1.title Бонусы
      +bonus-top
      +bonus-list
    .sided__right
      +bookmakers-sidebar
      +news-list