doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/sub-header/sub-header
  include ../components/sidebar/sidebar
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    main.main
      +header()
      +sub-header()
      section.content
        +sidebar
        .content__layout
          block content
    +footer()
    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://yastatic.net/jquery/3.3.1/jquery.min.js")
    script(src='%=static=%js/main%=hash=%%=min=%.js')