extend ./layout

include ../components/breadcrumbs/breadcrumbs
include ../components/news-list/news-list
include ../components/match-list/match-list
include ../components/bookmakers-list/bookmakers-list
include ../components/about-block/about-block

block content
  .sided
    .sided__left
      +breadcrumbs
      h1.title Букмекеры
      +match-list-inside
      +about-block
    .sided__right
      +news-list