extend ./layout

include ../components/breadcrumbs/breadcrumbs
include ../components/news-list/news-list
include ../components/news-article/news-article
include ../components/bookmakers-sidebar/bookmakers-sidebar
include ../components/comming-matches/comming-matches

block content
  .sided
    .sided__left
      +breadcrumbs
      h1.title Эксперты оценили шансы «Бостона» и «Сент-Луиса» в финале Кубка Стэнли
      +news-article
    .sided__right
      +bookmakers-sidebar
      +comming-matches
      +news-list