mixin filter(data)
  nav.filter
    a(href="#" title="").filter__item Рейтинг
    a(href="#" title="").filter__item Надежные
    a(href="#" title="").filter__item По коэфициентам
    a(href="#" title="").filter__item С бонусами+фрибет
    a(href="#" title="").filter__item Линиии-ставки
    a(href="#" title="").filter__item Легальные
    a(href="#" title="").filter__item Статистика 