.prediction-list {
  margin-top: 55px;
  &._inside {
    margin-top: 0;
  }
  &__title {
    @extend .title._h2;
  }
  &__big {
    margin-bottom: 12px;
  }
  &__content {
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__more {
    margin-top: 0;

    @extend .load-more;
  }
}
