include ../star-rating/star-rating

mixin bonus-list(data)
  .bonus-list
    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-1_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-2_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-3_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-4_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-5_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-6_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-3_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .bonus-list-item
      .bonus-list-item__left
        .bonus-list-item__title В подарок 1000Р на первую ставку
        .bonus-list-item__group
          .bonus-list-item__rating Рейтинг букмекера
          +star-rating
          .bonus-list-item__reviews Отзывы: <span>1560</span>
      .bonus-list-item__right
        img(src="%=static=%images/content/bets-1_big.png" alt="")
        a(href="#" title="").bonus-list-item__button Сделать ставку

    .load-more Показать еще