mixin user-bets-set(data)
  .user-bets-set
    .user-bets-set__title Где делаете ставки

    form(method="" action="").user-bets-set__form
      label.user-bets-set__item
        input(type="checkbox" value="1")
        img(src="%=static=%images/content/bets-1.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="2")
        img(src="%=static=%images/content/bets-2.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="3")
        img(src="%=static=%images/content/bets-3.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="4")
        img(src="%=static=%images/content/bets-4.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="5")
        img(src="%=static=%images/content/bets-5.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="6")
        img(src="%=static=%images/content/bets-6.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="1")
        img(src="%=static=%images/content/bets-1.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="2")
        img(src="%=static=%images/content/bets-2.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="3")
        img(src="%=static=%images/content/bets-3.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="4")
        img(src="%=static=%images/content/bets-4.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="5")
        img(src="%=static=%images/content/bets-5.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="6")
        img(src="%=static=%images/content/bets-6.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="1")
        img(src="%=static=%images/content/bets-1.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="2")
        img(src="%=static=%images/content/bets-2.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="3")
        img(src="%=static=%images/content/bets-3.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="4")
        img(src="%=static=%images/content/bets-4.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="5")
        img(src="%=static=%images/content/bets-5.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="6")
        img(src="%=static=%images/content/bets-6.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="1")
        img(src="%=static=%images/content/bets-1.png" alt="")

      label.user-bets-set__item
        input(type="checkbox" value="2")
        img(src="%=static=%images/content/bets-2.png" alt="")

      .user-bets-set__submit
        button(type="submit") Сохранить