mixin sidebar(data)
  aside.sidebar
    .sidebar__widget
      nav.sidemenu
        .sidemenu__title._dropdown Футбол
        .sidemenu__inside
          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-1.png" alt="")
            .sidemenu-item__titles Премьер-лига
              span Россия
            .sidemenu-item__count 6

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-2.png" alt="")
            .sidemenu-item__titles ФНЛ
              span Россия
            .sidemenu-item__count 68

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-3.png" alt="")
            .sidemenu-item__titles ПФЛ
              span Россия
            .sidemenu-item__count 89

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-4.png" alt="")
            .sidemenu-item__titles Кубок России
              span Россия
            .sidemenu-item__count 48

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-5.png" alt="")
            .sidemenu-item__titles Премьер-лига 
              span Англия
            .sidemenu-item__count 84

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-6.png" alt="")
            .sidemenu-item__titles Бундеслига
              span Германия
            .sidemenu-item__count 73

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-7.png" alt="")
            .sidemenu-item__titles Ла Лига
              span Испания
            .sidemenu-item__count 73

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-8.png" alt="")
            .sidemenu-item__titles Лига 1
              span Франция
            .sidemenu-item__count 42

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-9.png" alt="")
            .sidemenu-item__titles Серия А 
              span Италия
            .sidemenu-item__count 5

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-10.png" alt="")
            .sidemenu-item__titles Премьер-лига
              span Украина
            .sidemenu-item__count 22

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-11.png" alt="")
            .sidemenu-item__titles Лига чемпионов
              span МИР
            .sidemenu-item__count 28

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-12.png" alt="")
            .sidemenu-item__titles Лига Европы
              span МИР
            .sidemenu-item__count 45

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-13.png" alt="")
            .sidemenu-item__titles Лига наций
              span МИР
            .sidemenu-item__count 43

          a(href="#" title="").sidemenu-item
            .sidemenu-item__image
              img(src="%=static=%images/content/football-14.png" alt="")
            .sidemenu-item__titles Евро 2020
              span МИР
            .sidemenu-item__count 85

        a(href="#" title="").sidemenu__title Статистика
        a(href="#" title="").sidemenu__title Бонусы
        a(href="#" title="").sidemenu__title О нас