html,
body {
  font-family: $Regular;

  height: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.content {
  display: flex;

  align-items: stretch;
  @extend .wrapper;
  justify-content: space-between;
  &__layout {
    box-sizing: border-box;
    width: 100%;
    max-width: 1216px;
    padding: 22px 0 22px 32px;
  }
}

.sided {
  display: flex;

  width: 100%;

  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  &__left {
    width: 100%;
    max-width: 840px;
    &._main {
      max-width: 680px;
    }
  }
  &__right {
    width: 100%;
    max-width: 305px;
    &._main {
      max-width: 466px;
    }
  }
  &__center {
    width: 100%;
    max-width: 100%;
  }
}
