$base-font-size: 16px;

$white: #fff;
$black: #000;
$blue: #202b3b;
$light-blue: #313d4f;
$orange: #e39524;
$yellow: #e2c113;
$green: #69aa51;
$link: #5c87ae;
$gray: #f3f3f3;
$light-gray: #f9f9f9;
$red: #de0d1b;