mixin league-tourney(data)
  .league-tourney
    h2.title._h2 Турнирная таблица:

    .league-tourney__table
      table
        thead
          tr
            th 
              img(src="%=static=%images/content/football-11.png" alt="")
            th
              strong Group A
            th И
            th В
            th Н
            th П
            th РМ
            th О
            th ФОРМА
        tbody
          tr
            td 1
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-1.png" alt="")
                span Манчестер Сити
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 2
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-2.png" alt="")
                span Лион
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 3
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-3.png" alt="")
                span Шахтер
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 4
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-4.png" alt="")
                span Хоффенхайм
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 5
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-5.png" alt="")
                span Манчестер Сити
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 6
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-6.png" alt="")
                span Лион
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

    .league-tourney__table
      table
        thead
          tr
            th 
              img(src="%=static=%images/content/football-11.png" alt="")
            th
              strong Group B
            th И
            th В
            th Н
            th П
            th РМ
            th О
            th ФОРМА
        tbody
          tr
            td 1
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-1.png" alt="")
                span Манчестер Сити
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 2
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-2.png" alt="")
                span Лион
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 3
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-3.png" alt="")
                span Шахтер
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 4
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-4.png" alt="")
                span Хоффенхайм
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 5
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-5.png" alt="")
                span Манчестер Сити
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green

          tr
            td 6
            td
              .league-tourney__team
                img(src="%=static=%images/content/team-6.png" alt="")
                span Лион
            td 15
            td 15
            td 15
            td 15
            td 15
            td 56
            td
              span.dot._red
              span.dot._red
              span.dot._green
              span.dot._green
              span.dot._yellow
              span.dot._green