mixin match-players(data)
  .match-players#players
    h2.title._h2 Составы команд

    .match-players__section
      .match-players__table
        table
          thead
            tr
              th 
                img(src="%=static=%images/content/team-1.png" alt="")
              th 
                strong Манчестер Юнайтед
              th Амплуя
              th Матчи
              th Голы
          tbody
            tr
              td
                .number._green 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 13
              td Тибо Куртуа 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 13
              td Тибо Куртуа 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._white 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._white 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._white 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

      .match-players__table
        table
          thead
            tr
              th 
                img(src="%=static=%images/content/team-2.png" alt="")
              th 
                strong ПСЖ
              th Амплуя
              th Матчи
              th Голы
          tbody
            tr
              td
                .number._green 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 13
              td Тибо Куртуа 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 13
              td Тибо Куртуа 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._white 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._white 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._white 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

    h2.title._h2 Замены

    .match-players__section
      .match-players__table
        table
          thead
            tr
              th 
                img(src="%=static=%images/content/team-1.png" alt="")
              th 
                strong Манчестер Юнайтед
              th Амплуя
              th Матчи
              th Голы
          tbody
            tr
              td
                .number._green 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 13
              td Тибо Куртуа 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._gray 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

      .match-players__table
        table
          thead
            tr
              th 
                img(src="%=static=%images/content/team-1.png" alt="")
              th 
                strong Манчестер Юнайтед
              th Амплуя
              th Матчи
              th Голы
          tbody
            tr
              td
                .number._green 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 13
              td Тибо Куртуа 
              td
                span Защ.
              td 15
              td 3

    h2.title._h2 Не сыграет

    .match-players__section
      .match-players__table
        table
          thead
            tr
              th 
                img(src="%=static=%images/content/team-1.png" alt="")
              th 
                strong Манчестер Юнайтед
              th Амплуя
              th Матчи
              th Голы
          tbody
            tr
              td
                .number._green 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 10
              td Дани Карвахаль 
              td
                span Защ.
              td 15
              td 3

            tr
              td
                .number._green 15
              td Лукас Васкес 
              td
                span Защ.
              td 15
              td 3

      .match-players__table
        table
          thead
            tr
              th 
                img(src="%=static=%images/content/team-1.png" alt="")
              th 
                strong Манчестер Юнайтед
              th Амплуя
              th Матчи
              th Голы
          tbody
            tr
              td
                .number._green 9
              td Маттео Дармиан
              td
                span Защ.
              td 15
              td 3