.footer {
  padding: 26px 0;

  background: #2d2d2d;
  &__wrapper {
    display: flex;

    align-items: center;
    @extend .wrapper;
    justify-content: space-between;
  }
  &__logo {
    @include bg($logo-footer);
  }
  &__group {
    display: flex;

    align-items: center;
    justify-content: flex-start;
  }
  &__copyright {
    padding-left: 60px;

    color: rgba($white, .5);
  }
}

.footer-menu {
  &__item {
    font-family: $Semibold;
    font-size: rem-calc(15);

    margin-left: 36px;

    text-decoration: none;
    text-transform: uppercase;

    color: rgba($white, .2);

    @include transition;
    &:hover {
      cursor: pointer;

      color: rgba($white, .5);
    }
  }
}
