mixin footer(data)
  .footer
    .footer__wrapper
      .footer__group
        .footer__logo

        .footer__copyright Все права защищены.
      
      nav.footer-menu
        a(href="#" title="").footer-menu__item Букмекеры
        a(href="#" title="").footer-menu__item Матчи сегодня
        a(href="#" title="").footer-menu__item Школа ставок
        a(href="#" title="").footer-menu__item Отзывы
        a(href="#" title="").footer-menu__item Бонусы

