include ../star-rating/star-rating

mixin bonus-top(data)
  .bonus-top
    .bonus-top-item
      .bonus-top-item__header
        img(src="%=static=%images/content/bets-1.png" alt="")
      .bonus-top-item__title В подарок 1000Р на первую ставку
      .bonus-top-item__meta
        +star-rating
        .bonus-top-item__reviews 1560
      a(href="#" title="").bonus-top-item__button Сделать ставку

    .bonus-top-item
      .bonus-top-item__header
        img(src="%=static=%images/content/bets-2.png" alt="")
      .bonus-top-item__title В подарок 1000Р на первую ставку
      .bonus-top-item__meta
        +star-rating
        .bonus-top-item__reviews 1560
      a(href="#" title="").bonus-top-item__button Сделать ставку

    .bonus-top-item
      .bonus-top-item__header
        img(src="%=static=%images/content/bets-3.png" alt="")
      .bonus-top-item__title В подарок 1000Р на первую ставку
      .bonus-top-item__meta
        +star-rating
        .bonus-top-item__reviews 1560
      a(href="#" title="").bonus-top-item__button Сделать ставку
