mixin match-bets(data)
  .match-bets#bets
    h2.title._h2 Ставки на матч

    .match-bets__table
      table
        thead
          tr
            th
            th 
              img(src="%=static=%images/content/bets-1.png" alt="")
            th 
              img(src="%=static=%images/content/bets-2.png" alt="")
            th 
              img(src="%=static=%images/content/bets-3.png" alt="")
            th 
              img(src="%=static=%images/content/bets-4.png" alt="")
            th 
              img(src="%=static=%images/content/bets-5.png" alt="")
            th 
              img(src="%=static=%images/content/bets-6.png" alt="")
            th 
              img(src="%=static=%images/content/bets-7.png" alt="")
            th 
              img(src="%=static=%images/content/bets-8.png" alt="")
        tbody
          tr
            td П1
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
          tr
            td x
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
          tr
            td П2
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
          tr
            td ТМ 4,5
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
          tr
            td ТБ 4,5
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 1,65
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22

mixin match-bets-small(data)
  .match-bets
    h2.title._h2 Ставки на матч

    .match-bets__table
      table
        thead
          tr
            th
            th 
              img(src="%=static=%images/content/bets-1.png" alt="")
            th 
              img(src="%=static=%images/content/bets-2.png" alt="")
            th 
              img(src="%=static=%images/content/bets-3.png" alt="")
            th 
              img(src="%=static=%images/content/bets-4.png" alt="")
            th 
              img(src="%=static=%images/content/bets-5.png" alt="")
        tbody
          tr
            td П1
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
          tr
            td x
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
          tr
            td П2
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
          tr
            td ТМ 4,5
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65
          tr
            td ТБ 4,5
            td
              a(href="#" title="" target="_blank") 2,90
            td
              a(href="#" title="" target="_blank") 4,22
            td
              a(href="#" title="" target="_blank") 2,28
            td
              a(href="#" title="" target="_blank") 2,355
            td
              a(href="#" title="" target="_blank") 1,65