include ../star-rating/star-rating

mixin bookmakers-sidebar(data)
  .bookmakers-sidebar
    .bookmakers-sidebar-search
      input(type="text" value="" placeholder="Поиск букмекера").bookmakers-sidebar-search__input
      .bookmakers-sidebar-search__submit
        button(type="submit" value="")

    .bookmakers-sidebar__list
      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-1.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-2.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-3.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-4.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-5.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-6.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-1.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-2.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-3.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-4.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-5.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151

      .bookmakers-sidebar-item
        .bookmakers-sidebar-item__logo
          img(src="%=static=%images/content/bets-6.png" alt="")
        +star-rating
        a(href="#" title="").bookmakers-sidebar-item__reviews 2151