mixin user-top(data)
  .user-top
    .user-top__left
      .user-top__image
        img(src="https://via.placeholder.com/180")
      .user-top-info
        .user-top-info__item Город
          span Москва
        .user-top-info__item Возраст 
          span 34
        .user-top-info__item ЛЮбимая команда
          span Манчестер Юнайтед
            img(src="%=static=%images/content/team-2.png" alt="")

    .user-top__bets Делает ставки в
      img(src="%=static=%images/content/bets-1_big.png")
      img(src="%=static=%images/content/bets-2_big.png")
      img(src="%=static=%images/content/bets-3_big.png")



