.other-predictions {
  margin-top: 40px;
  margin-bottom: 90px;
  &__title {
    @extend .title._h2;
  }
  &__list {
    display: flex;

    align-items: stretch;
    justify-content: space-between;
  }
}
