mixin prediction-calculator(data)
  .prediction-calculator
    .prediction-calculator__title Ставка и Возможный выигрыш

    .prediction-calculator-item
      .prediction-calculator-item__logo
        img(src="%=static=%images/content/bets-1.png" alt="")
      .prediction-calculator-item__text._black Коефициент: 
        span 1,75

      .prediction-calculator-item__text._green Бонус: 
        span 1000Р

      .prediction-calculator-item__input
        input(type="text" value="" placeholder="Сумма ставки")

      .prediction-calculator-item__input
        input(type="text" value="" placeholder="Выигрыш")

      .prediction-calculator-item__button Сделать ставку

    .prediction-calculator-item
      .prediction-calculator-item__logo
        img(src="%=static=%images/content/bets-2.png" alt="")
      .prediction-calculator-item__text._black Коефициент: 
        span 1,75

      .prediction-calculator-item__text._green Бонус: 
        span 1000Р

      .prediction-calculator-item__input
        input(type="text" value="" placeholder="Сумма ставки")

      .prediction-calculator-item__input
        input(type="text" value="" placeholder="Выигрыш")

      .prediction-calculator-item__button Сделать ставку

    .prediction-calculator-item
      .prediction-calculator-item__logo
        img(src="%=static=%images/content/bets-3.png" alt="")
      .prediction-calculator-item__text._black Коефициент: 
        span 1,75

      .prediction-calculator-item__text._green Бонус: 
        span 1000Р

      .prediction-calculator-item__input
        input(type="text" value="" placeholder="Сумма ставки")

      .prediction-calculator-item__input
        input(type="text" value="" placeholder="Выигрыш")

      .prediction-calculator-item__button Сделать ставку