mixin bookmakers-reviews(data)
  .bookmakers-reviews
    .bookmakers-reviews__title ОТзывы о букмекерах

    .bookmakers-reviews-top
      .bookmakers-reviews-top__item._active
        img(src="%=static=%images/content/bets-1_big.png" alt="")

      .bookmakers-reviews-top__item
        img(src="%=static=%images/content/bets-2_big.png" alt="")

      .bookmakers-reviews-top__item
        img(src="%=static=%images/content/bets-3_big.png" alt="")

      .bookmakers-reviews-top__item
        img(src="%=static=%images/content/bets-4_big.png" alt="")

      .bookmakers-reviews-top__item
        img(src="%=static=%images/content/bets-5_big.png" alt="")

      .bookmakers-reviews-top__item
        img(src="%=static=%images/content/bets-6_big.png" alt="")

    .bookmakers-reviews__content
      .bookmakers-reviews-filter
        .bookmakers-reviews-filter__left
          .bookmakers-reviews-filter__item._active
            span Все
          .bookmakers-reviews-filter__item
            span Позитивные
          .bookmakers-reviews-filter__item
            span Негативные
        .bookmakers-reviews-filter__right
          a(href="#" title="") 2648 отзывов

      .bookmakers-reviews__list
        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._negative Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать

        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._positive Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать

        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._positive Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать
        
        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._negative Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать

        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._negative Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать

        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._negative Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать

        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._negative Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать

        .bookmakers-reviews-item
          .bookmakers-reviews-item__title._positive Сменили событие в матче
          .bookmakers-reviews-item__text Добрый день! 17.12.18 в 3:28 заключил пари на событие нхл...
          a(href="#" title="").bookmakers-reviews-item__more Читать