.about-block {
  padding: 36px 40px;

  border-radius: 3px;
  background: #f3f3f3;
  margin-top: 20px;
  &__logo {
    margin-bottom: 20px;
  }
  p,
  strong {
    font-size: rem-calc(14);
    line-height: rem-calc(22);

    color: $black;
  }
  strong {
    font-family: $Semibold;
  }
}
