mixin about-block(data)
  .about-block
    .about-block__logo
      img(src="%=static=%images/assets/about-block/logo.png" alt="")

    .about-block__text
      p Команда экспертов помогает выбирать ставки на спорт. Комментатор «Матч ТВ» Константин Генич, комментатор Eurosport Анна Чакветадзе, легенды спорта Николай Валуев и Егор Титов, двукратный чемпион ОИ по хоккею Александр Кожевников, профессиональный каппер Александр Вишневский и другие эксперты публикуют прогнозы на спорт бесплатно только на «Рейтинге Букмекеров». 

      strong Прислушивайтесь к профессионалам и делайте свои ставки!