mixin timezone(data)
  .timezone
    .timezone-select
      .timezone-select__visible
        form(method="" action="")
          input(type="hidden" value="").timezone-select__hidden
        .timezone-select__choosen <span>22:38</span> (GMT+2)
      .timezone-select__dropdown
        .timezone-select__overflow
          .timezone-select__option(data-value="1") <span>22:38</span> (GMT+1)
          .timezone-select__option(data-value="2") <span>22:38</span> (GMT+2)
          .timezone-select__option(data-value="3") <span>22:38</span> (GMT+3)
          .timezone-select__option(data-value="4") <span>22:38</span> (GMT+4)
          .timezone-select__option(data-value="5") <span>22:38</span> (GMT+5)
          .timezone-select__option(data-value="6") <span>22:38</span> (GMT+6)
          .timezone-select__option(data-value="7") <span>22:38</span> (GMT+7)
          .timezone-select__option(data-value="8") <span>22:38</span> (GMT+8)
          .timezone-select__option(data-value="9") <span>22:38</span> (GMT+9)
          .timezone-select__option(data-value="10") <span>22:38</span> (GMT+10)
          .timezone-select__option(data-value="11") <span>22:38</span> (GMT+11)
          .timezone-select__option(data-value="12") <span>22:38</span> (GMT+12)