mixin reviews-list(data)
  .reviews-list
    .reviews-bookmakers
      - for (var i = 0; i < 4; i++) {
        .reviews-bookmakers-item
          .reviews-bookmakers-item__image
            img(src="%=static=%images/content/bets-1.png" width="172")
          .reviews-bookmakers-item__bottom
            .reviews-bookmakers-item__review._green 1450
            .reviews-bookmakers-item__review._red 1450
            a(href="#" title="").reviews-bookmakers-item__more Читать

        .reviews-bookmakers-item
          .reviews-bookmakers-item__image
            img(src="%=static=%images/content/bets-2.png" width="172")
          .reviews-bookmakers-item__bottom
            .reviews-bookmakers-item__review._green 1450
            .reviews-bookmakers-item__review._red 1450
            a(href="#" title="").reviews-bookmakers-item__more Читать

        .reviews-bookmakers-item
          .reviews-bookmakers-item__image
            img(src="%=static=%images/content/bets-3.png" width="172")
          .reviews-bookmakers-item__bottom
            .reviews-bookmakers-item__review._green 1450
            .reviews-bookmakers-item__review._red 1450
            a(href="#" title="").reviews-bookmakers-item__more Читать

        .reviews-bookmakers-item
          .reviews-bookmakers-item__image
            img(src="%=static=%images/content/bets-4.png" width="172")
          .reviews-bookmakers-item__bottom
            .reviews-bookmakers-item__review._green 1450
            .reviews-bookmakers-item__review._red 1450
            a(href="#" title="").reviews-bookmakers-item__more Читать
      - };

    .last-reviews
      .last-reviews__title Последние отзывы

      .last-reviews-item._red
        .last-reviews-item__column
          .last-reviews-item__review._red Негативный

          .last-reviews-item__text Наша цель – стать синонимом высшей степени надежности и качества обслуживания на всемирном рынке букмекерских компаний.

          .last-reviews-item-author
            .last-reviews-item-author__avatar
              img(src="https://placehold.it/40")
            .last-reviews-item-author__content
              .last-reviews-item-author__name Андрей Миронов
              .last-reviews-item-author__date 19.05.2018 18:50

        .last-reviews-item__column
          .last-reviews-item__group
            .last-reviews-item__subtitle Плюсы/минусы
            .last-reviews-item__logo
              img(src="%=static=%images/content/bets-1.png" alt="")

          .last-reviews-item__plus Хороший информативный сайт и мобильное приложение.
          .last-reviews-item__minus Слабая линия,на многие события не поставвить.

          .last-reviews-item__group
            .last-reviews-item__comment Комментарии: <strong>6</strong>
            .last-reviews-item__answer Ответить

      .last-reviews-item._green
        .last-reviews-item__column
          .last-reviews-item__review._green Положительный

          .last-reviews-item__text Наша цель – стать синонимом высшей степени надежности и качества обслуживания на всемирном рынке букмекерских компаний.

          .last-reviews-item-author
            .last-reviews-item-author__avatar
              img(src="https://placehold.it/40")
            .last-reviews-item-author__content
              .last-reviews-item-author__name Андрей Миронов
              .last-reviews-item-author__date 19.05.2018 18:50

        .last-reviews-item__column
          .last-reviews-item__group
            .last-reviews-item__subtitle Плюсы/минусы
            .last-reviews-item__logo
              img(src="%=static=%images/content/bets-1.png" alt="")

          .last-reviews-item__plus Хороший информативный сайт и мобильное приложение.
          .last-reviews-item__minus Слабая линия,на многие события не поставвить.

          .last-reviews-item__group
            .last-reviews-item__comment Комментарии: <strong>6</strong>
            .last-reviews-item__answer Ответить

      .last-reviews-item._green
        .last-reviews-item__column
          .last-reviews-item__review._green Положительный

          .last-reviews-item__text Наша цель – стать синонимом высшей степени надежности и качества обслуживания на всемирном рынке букмекерских компаний.

          .last-reviews-item-author
            .last-reviews-item-author__avatar
              img(src="https://placehold.it/40")
            .last-reviews-item-author__content
              .last-reviews-item-author__name Андрей Миронов
              .last-reviews-item-author__date 19.05.2018 18:50

        .last-reviews-item__column
          .last-reviews-item__group
            .last-reviews-item__subtitle Плюсы/минусы
            .last-reviews-item__logo
              img(src="%=static=%images/content/bets-1.png" alt="")

          .last-reviews-item__plus Хороший информативный сайт и мобильное приложение.
          .last-reviews-item__minus Слабая линия,на многие события не поставвить.

          .last-reviews-item__group
            .last-reviews-item__comment Комментарии: <strong>6</strong>
            .last-reviews-item__answer Ответить

      .last-reviews-item._green
        .last-reviews-item__column
          .last-reviews-item__review._green Положительный

          .last-reviews-item__text Наша цель – стать синонимом высшей степени надежности и качества обслуживания на всемирном рынке букмекерских компаний.

          .last-reviews-item-author
            .last-reviews-item-author__avatar
              img(src="https://placehold.it/40")
            .last-reviews-item-author__content
              .last-reviews-item-author__name Андрей Миронов
              .last-reviews-item-author__date 19.05.2018 18:50

        .last-reviews-item__column
          .last-reviews-item__group
            .last-reviews-item__subtitle Плюсы/минусы
            .last-reviews-item__logo
              img(src="%=static=%images/content/bets-1.png" alt="")

          .last-reviews-item__plus Хороший информативный сайт и мобильное приложение.
          .last-reviews-item__minus Слабая линия,на многие события не поставвить.

          .last-reviews-item__group
            .last-reviews-item__comment Комментарии: <strong>6</strong>
            .last-reviews-item__answer Ответить

      a(href="#" title="").load-more Загрузить еще