mixin user-listing(data)
  .user-listing
    .user-listing__title Последняя активность

    .user-listing-item
      .user-listing-item__top
        .user-listing-item__user
          .user-listing-item__image
            img(src="https://placehold.it/40" alt="")
          .user-listing-item__name Криштиану Роналду
          .user-listing-item__act оставил комментарий
        .user-listing-item__date 19.05.2018 18:50

      .user-listing-item__content
        .user-listing-item__title «Боруссия» Мёнхенгладбах – «Нюрнберг»: прогноз от  TrustBet

      .user-listing-item__meta
        .user-listing-item__left
          a(href="#" title="").user-listing-item__comments Комментарии:
            span 6
          a(href="#" title="").user-listing-item__go Перейти

    .user-listing-item
      .user-listing-item__top
        .user-listing-item__user
          .user-listing-item__image
            img(src="https://placehold.it/40" alt="")
          .user-listing-item__name Криштиану Роналду
          .user-listing-item__act оставил отзыв о
            img(src="%=static=%images/content/bets-1.png" alt="")
        .user-listing-item__date 19.05.2018 18:50

      .user-listing-item__content
        .user-listing-item__text 
          p Наша цель – стать синонимом высшей степени надежности и качества обслуживания на всемирном рынке букмекерских компаний.

          .user-listing-item-reviews
            .user-listing-item-reviews__title Плюсы/минусы
            .user-listing-item-reviews__item._plus Хороший информативный сайт и мобильное приложение.
            .user-listing-item-reviews__item._minus Слабая линия,на многие события не поставвить.

      .user-listing-item__meta
        .user-listing-item__left
          a(href="#" title="").user-listing-item__comments Комментарии:
            span 6
          a(href="#" title="").user-listing-item__go Перейти

        .user-listing-item__negative Негативный

    .user-listing-item
      .user-listing-item__top
        .user-listing-item__user
          .user-listing-item__image
            img(src="https://placehold.it/40" alt="")
          .user-listing-item__name Криштиану Роналду
          .user-listing-item__act оставил отзыв о
            img(src="%=static=%images/content/bets-3.png" alt="")
        .user-listing-item__date 19.05.2018 18:50

      .user-listing-item__content
        .user-listing-item__text 
          p Наша цель – стать синонимом высшей степени надежности и качества обслуживания на всемирном рынке букмекерских компаний.

          .user-listing-item-reviews
            .user-listing-item-reviews__title Плюсы/минусы
            .user-listing-item-reviews__item._plus Хороший информативный сайт и мобильное приложение.
            .user-listing-item-reviews__item._minus Слабая линия,на многие события не поставвить.

      .user-listing-item__meta
        .user-listing-item__left
          a(href="#" title="").user-listing-item__comments Комментарии:
            span 6
          a(href="#" title="").user-listing-item__go Перейти

        .user-listing-item__positive Положительный

    .user-listing-item
      .user-listing-item__top
        .user-listing-item__user
          .user-listing-item__image
            img(src="https://placehold.it/40" alt="")
          .user-listing-item__name Криштиану Роналду
          .user-listing-item__act оставил комментарий
        .user-listing-item__date 19.05.2018 18:50

      .user-listing-item__content
        .user-listing-item__title «Боруссия» Мёнхенгладбах – «Нюрнберг»: прогноз от  TrustBet

      .user-listing-item__meta
        .user-listing-item__left
          a(href="#" title="").user-listing-item__comments Комментарии:
            span 6
          a(href="#" title="").user-listing-item__go Перейти

    .user-listing-item
      .user-listing-item__top
        .user-listing-item__user
          .user-listing-item__image
            img(src="https://placehold.it/40" alt="")
          .user-listing-item__name Криштиану Роналду
          .user-listing-item__act оставил комментарий
        .user-listing-item__date 19.05.2018 18:50

      .user-listing-item__content
        .user-listing-item__title «Боруссия» Мёнхенгладбах – «Нюрнберг»: прогноз от  TrustBet

      .user-listing-item__meta
        .user-listing-item__left
          a(href="#" title="").user-listing-item__comments Комментарии:
            span 6
          a(href="#" title="").user-listing-item__go Перейти

    .user-listing__more Показать еще