mixin news-article(data)
  .news-article
    .prediction-article-meta
      .prediction-article-meta__left
        .prediction-article-meta__date 19.05.2018
        .prediction-article-meta__views 562
      .prediction-article-meta__author Андрей Миронов

    .prediction-article__body
      img(src="%=static=%images/assets/prediction-article/preview.jpg" alt="")

      p В финале Кубка Стэнли сыграют «Бостон» и «Сент-Луис». 1-й матч финальной серии пройдёт рано утром 28 мая по московскому времени. Букмекеры оценили шансы команд выиграть трофей.

      p Сделать ставку на победу «Бостона» можно с коэффициентом 1.65. Это соответствует вероятности 57%. Поставить на «Сент-Луис» можно за 2.25 (43%).

      p По оценке аналитиков, наиболее вероятный исход серии, — победа «Бостона» со счётом 4-3 (коэффициент 5.50).

      p «Бостон» выигрывал Кубок Стэнли 6 раз. В последний раз это случилось в сезоне-2010/11. В финале Восточной конференции «мишки» в 4 матчах победили «Каролину». 

      p «Сент-Луис» ни разу не был обладателем Кубка Стэнли. В финале Запада «блюзмены» оказались сильнее «Сан-Хосе» в 6 матчах.

      p В финале Кубка Стэнли сыграют «Бостон» и «Сент-Луис». 1-й матч финальной серии пройдёт рано утром 28 мая по московскому времени. Букмекеры оценили шансы команд выиграть трофей.

      h2 Заголовок

      p Сделать ставку на победу «Бостона» можно с коэффициентом 1.65. Это соответствует вероятности 57%. Поставить на «Сент-Луис» можно за 2.25 (43%).

      p По оценке аналитиков, наиболее вероятный исход серии, — победа «Бостона» со счётом 4-3 (коэффициент 5.50).

      p «Бостон» выигрывал Кубок Стэнли 6 раз. В последний раз это случилось в сезоне-2010/11. В финале Восточной конференции «мишки» в 4 матчах победили «Каролину». 

      p «Сент-Луис» ни разу не был обладателем Кубка Стэнли. В финале Запада «блюзмены» оказались сильнее «Сан-Хосе» в 6 матчах.

      p В финале Кубка Стэнли сыграют «Бостон» и «Сент-Луис». 1-й матч финальной серии пройдёт рано утром 28 мая по московскому времени. Букмекеры оценили шансы команд выиграть трофей.

      p Сделать ставку на победу «Бостона» можно с коэффициентом 1.65. Это соответствует вероятности 57%. Поставить на «Сент-Луис» можно за 2.25 (43%).

      p По оценке аналитиков, наиболее вероятный исход серии, — победа «Бостона» со счётом 4-3 (коэффициент 5.50).

      p «Бостон» выигрывал Кубок Стэнли 6 раз. В последний раз это случилось в сезоне-2010/11. В финале Восточной конференции «мишки» в 4 матчах победили «Каролину». 

      p «Сент-Луис» ни разу не был обладателем Кубка Стэнли. В финале Запада «блюзмены» оказались сильнее «Сан-Хосе» в 6 матчах.

      p В финале Кубка Стэнли сыграют «Бостон» и «Сент-Луис». 1-й матч финальной серии пройдёт рано утром 28 мая по московскому времени. Букмекеры оценили шансы команд выиграть трофей.

      p Сделать ставку на победу «Бостона» можно с коэффициентом 1.65. Это соответствует вероятности 57%. Поставить на «Сент-Луис» можно за 2.25 (43%).

      p По оценке аналитиков, наиболее вероятный исход серии, — победа «Бостона» со счётом 4-3 (коэффициент 5.50).

      p «Бостон» выигрывал Кубок Стэнли 6 раз. В последний раз это случилось в сезоне-2010/11. В финале Восточной конференции «мишки» в 4 матчах победили «Каролину». 

      p «Сент-Луис» ни разу не был обладателем Кубка Стэнли. В финале Запада «блюзмены» оказались сильнее «Сан-Хосе» в 6 матчах.