mixin breadcrumbs(data)
  nav.breadcrumbs
    a(href="#" title="").breadcrumbs__item Главная
    a(href="#" title="").breadcrumbs__item Лига чемпионов
    span.breadcrumbs__item._current Манчестер Юнайтед - ПСЖ
