mixin match-games(data)
  .match-games#stats
    h2.title._h2 Последние игры: <span>Манчестер Юнайтед</span>

    .match-games-table
      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Манчестер Юнайтед
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
            .match-games-table-score__count 4 : 0
            .match-games-table-score__image
              img(src="%=static=%images/content/team-3.png" alt="")
          .match-games-table__command._right Арсенал

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Барселона
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-4.png" alt="")
            .match-games-table-score__count 2 : 2
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .match-games-table__command._right Манчестер Юнайтед

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Манчестер Юнайтед
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
            .match-games-table-score__count 4 : 0
            .match-games-table-score__image
              img(src="%=static=%images/content/team-5.png" alt="")
          .match-games-table__command._right Бернли

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Лестер
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-6.png" alt="")
            .match-games-table-score__count 2 : 2
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .match-games-table__command._right Манчестер Юнайтед

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

    h2.title._h2 Последние игры: <span>ПСЖ</span>

    .match-games-table
      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left ПСЖ
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
            .match-games-table-score__count 4 : 0
            .match-games-table-score__image
              img(src="%=static=%images/content/team-3.png" alt="")
          .match-games-table__command._right Арсенал

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Барселона
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-4.png" alt="")
            .match-games-table-score__count 2 : 2
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
          .match-games-table__command._right ПСЖ

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left ПСЖ
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
            .match-games-table-score__count 4 : 0
            .match-games-table-score__image
              img(src="%=static=%images/content/team-5.png" alt="")
          .match-games-table__command._right Бернли

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Лестер
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-6.png" alt="")
            .match-games-table-score__count 2 : 2
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
          .match-games-table__command._right ПСЖ

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

    h2.title._h2 Статистика личных встреч

    .match-games-table
      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Манчестер Юнайтед
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
            .match-games-table-score__count 4 : 0
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
          .match-games-table__command._right ПСЖ

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left ПСЖ
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
            .match-games-table-score__count 2 : 2
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .match-games-table__command._right Манчестер Юнайтед

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left Манчестер Юнайтед
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
            .match-games-table-score__count 4 : 0
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
          .match-games-table__command._right ПСЖ

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")

      .match-games-table__row
        .match-games-table__date 18.05.2017

        .match-games-table__center
          .match-games-table__command._left ПСЖ
          .match-games-table-score
            .match-games-table-score__image
              img(src="%=static=%images/content/team-1.png" alt="")
            .match-games-table-score__count 2 : 2
            .match-games-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .match-games-table__command._right Манчестер Юнайтед

        .match-games-table__league 
          span Лига чемпионов
          img(src="%=static=%images/content/football-11.png" alt="")