mixin about-match(data)
  .about-match
    h2.title._h2 О матче

    .about-match__layout
      .about-match__image
        img(src="%=static=%images/assets/about-match/about.jpg" alt="")

      .about-match__content
        p «Манчестер Юнайтед» уступил в последнем туре группового этапа «Валенсии» (1:2). Этот результат по итогу оставил английскую команду на 2-м месте в квартете, хотя в случае победы манкунианцы выходили бы с 1-й позиции, так как «Ювентус» проиграл свой последний матч в группе. 
        p Выход с 2-го места заведомо гарантировал команде более сильного соперника, и по итогам жеребьёвки оппонентом англичан оказался ПСЖ. Французская команда выиграла, пожалуй, одну из самых сложных групп, оставив позади себя «Ливерпуль», «Наполи» и «Црвену Звезду». 

        .about-match__hidden
          p ПСЖ вполне можно считать не то что фаворитом встречи, но и основным претендентом на главный европейский трофей. На протяжении 7 последних лет в ЛЧ (включая этот сезон) французская команда выходила из группы, 4 раза доходила до четвертьфинала, а последние два года вылетала в 1/8 финала. В двух предыдущих сезонах ПСЖ не везло с жеребьёвкой. Клуб вылетал из ЛЧ после попадания на «Барселону» и «Реал». «Манчестер Юнайтед» в прошлом году закончил своё выступление в ЛЧ на стадии 1/8 финала, проиграв другой испанской команде – «Севилье». Предстоящий поединок в Манчестере станет первой встречей этих команд между собой в еврокубках.

        .about-match__more Читать далее