mixin league-played(data)
  .league-played
    .league-played#stats
    h2.title._h2 Сыгранные матчи

    .league-played-table
      .league-played-table__row
        .league-played-table__date 18.05.2017

        .league-played-table__center
          .league-played-table__command._left Манчестер Юнайтед
          .league-played-table-score
            .league-played-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
            .league-played-table-score__count 4 : 0
            .league-played-table-score__image
              img(src="%=static=%images/content/team-3.png" alt="")
          .league-played-table__command._right Арсенал

        .league-played-table__info
          .info 3
          

      .league-played-table__row
        .league-played-table__date 18.05.2017

        .league-played-table__center
          .league-played-table__command._left Барселона
          .league-played-table-score
            .league-played-table-score__image
              img(src="%=static=%images/content/team-4.png" alt="")
            .league-played-table-score__count 2 : 2
            .league-played-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .league-played-table__command._right Манчестер Юнайтед

        .league-played-table__info
          .info 3
          

      .league-played-table__row
        .league-played-table__date 18.05.2017

        .league-played-table__center
          .league-played-table__command._left Манчестер Юнайтед
          .league-played-table-score
            .league-played-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
            .league-played-table-score__count 4 : 0
            .league-played-table-score__image
              img(src="%=static=%images/content/team-5.png" alt="")
          .league-played-table__command._right Бернли

        .league-played-table__info
          

      .league-played-table__row
        .league-played-table__date 18.05.2017

        .league-played-table__center
          .league-played-table__command._left Лестер
          .league-played-table-score
            .league-played-table-score__image
              img(src="%=static=%images/content/team-6.png" alt="")
            .league-played-table-score__count 2 : 2
            .league-played-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .league-played-table__command._right Манчестер Юнайтед

        .league-played-table__info
      
      .league-played-table__row
        .league-played-table__date 18.05.2017

        .league-played-table__center
          .league-played-table__command._left Барселона
          .league-played-table-score
            .league-played-table-score__image
              img(src="%=static=%images/content/team-4.png" alt="")
            .league-played-table-score__count 2 : 2
            .league-played-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .league-played-table__command._right Манчестер Юнайтед

        .league-played-table__info
          .info 3

      .league-played-table__row
        .league-played-table__date 18.05.2017

        .league-played-table__center
          .league-played-table__command._left Барселона
          .league-played-table-score
            .league-played-table-score__image
              img(src="%=static=%images/content/team-4.png" alt="")
            .league-played-table-score__count 2 : 2
            .league-played-table-score__image
              img(src="%=static=%images/content/team-2.png" alt="")
          .league-played-table__command._right Манчестер Юнайтед

        .league-played-table__info
          .info 3